body {
    border: 2px solid green;
    padding: 1em;
}

.container {
    border: 2px solid blue;
    padding: 1em;
    margin: 1em;


}

.superset1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.superset2 {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
}

.columns {
    border: 2px solid red;
    margin: 0.25em;

}

.textbox {
    border: 2px solid purple;

}


.set1 {}

.set2 {}

.set3 {}

.set4 {}


.box1 {}

.box2 {}

.box3 {}

.box4 {}

.box5 {}

.box6 {}

.box7 {}

.box8 {}

.box9 {}