body {
    border: 2px solid green;
    padding: 1em;
    
}

.container {
    border: 2px solid blue;
    padding: 1em;
    margin: 1em;


}

.superset1 {
     display: flex; 
     
}

.superset2 {
    display: flex;
    flex-direction: column;
   
    
}

.columns {
    border: 2px solid red;
    margin: 0.25em;
    

}

.textbox {
    border: 2px solid purple;

}




